*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Times New Roman', Times, serif !important;
}
body{
    background-color: blue;
    background-image: url('logo-cinepolis.png') !important; 
    background-size: 400px;
    background-position: 85% 40%;
    background-repeat: no-repeat;
    
}
.tituloDiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.tituloP{
    background-color: white;
    height: auto;
    width: 100px;
    color: black;
}
.tituloDivs{
    font-size: 25px !important;
    font-style: italic;
    font-weight: 900;
}
.Div{
    display: flex;
    padding: 20px;
    border: 1px solid white;
    margin: 10px;
    height: 30vh;
}
.labelEntrada{
    flex-grow: 1;
    width: 100%;
    margin: 8px 8px;
    height: 20px;
}
.inputEntrada{
    background-color: white;
    margin: 8px 8px;
    height: 30px;
    color: black;
}
fieldset{
    margin: 8px 8px;
    height: 20px;
}
.divInferior{
    display: flex;
    justify-content: center;
}
.btnAcciones{
    width: 100%;
    display: flex;
    align-items: center;
}
.btns{
    width: 50%;
    height: 40px;
    background-color: white;
    color: black;
    margin: 15px;
}
