<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="num1" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]='num1' class="form-control" name="num1" placeholder="Numero1" id="">
        </div>
        
    </div>
    
    <div class="col-12">
        <fieldset>
            <legend>A que medida lo quiere convertir:</legend>
            <label>Celsius<input [(ngModel)]='radioButton' type="radio" name="operacion" value="1" checked></label><br>
            <label>Fahrenheit<input [(ngModel)]='radioButton' type="radio" name="operacion" value="2"></label><br>
        </fieldset>
        <div class="mb-3">
            <button (click)="operacion()" class="btn btn-primary">Calcular</button>
        </div>
        
    </div>
    <div class="col-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>